body {
	background-image: url("../images/43483.jpg");
}

#topBar {
	text-align: center;
	float: top
}

.buttons {
	margin-top: 30px auto;
}

.button {
	margin: 0 15px;
}

#deleteSheetButton {
	float: right;
	text-decoration: none;
	border: 2px red solid;
	border-radius: 5px;
	background-color: #e5e5e5;
	color:black;
}

.common {
	float: left;
}

.textbox {
	text-align: center;
	width: 170px;
	height: 25px;
	padding: 5px 10px;
	margin: 10px 0px;
	border: 5px double orange;
	background-color: #fcf1e3;
}

.kurosenn {
	padding-top: 15px;
}

.add {
	padding-top: 12px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}