
main{
	text-align:center;
	margin-top:50px;
}

.form{
	margin:0 auto;
	width:350px;
	border:2px solid orange;
	border-radius:10px;
	border-top:none;
}

form{
	margin:0 auto;
	width:175px;
}

.koumoku{
	margin-top:30px;
	text-align:left;
}