
.howto{
 margin-top:20px;
 margin-left:15px;
 position:ralative;
}

.howto h1{
 text-align:center;
}

.howto div{
 clear:left;
}

.ss{
 height:100px;
 width:auto;
 margin:10px;
 border-bottom:1px dashed gray;
 float:left;
}