
html{
 height:100%;
}

body {
 height:100%;
 background-image:url("43483.jpg");
}

#topBar{
 text-align:center;
 float:top
 width:100%;
}

#sideMenu {
 height:100%;
 width:100px;
 margin:0px;
 padding-right:35px;
 float:left;
 text-align:center;
 border-right:1px solid gray;
}

#sideMenu ul{
 padding-left:10px;
}

#sideMenu ul li{
 list-style:none;
 padding-top:10px;
 clear:left;
}

.menyu-{
 font-size:large;
}

#sideMenu .contentsList{
 float:left;
 padding-bottom:10px;
}