
main{
 margin-top:20px;
 margin-left:15px;
}

main h1{
 text-align:center;
}

main div{
 clear:both;
}

.ss{
 text-align:top;
 float:left;
 height:150px;
 width:auto;
 margin:10px;
 border-bottom:1px dashed gray;
}